
<head>
  <meta charset="utf-8"/>
  <title>MY APP!!!!!!</title>

   <style>

   </style>
</head>

<body style="background-color:black;">

  <body style="background-color:black;">
    <embed src="http://www.moviesoundclips.net/misc1/msthemes/centuryfox.mp3"
  width="0" height="0" autostart="true" loop="false">
  </embed>
  <br/>
<h1 style="font-size:500%; text-align:center; color: white;"><%= @game.score_player_1 %>    SCORE    <%= @game.score_player_2 %></h1>
  <h1 style="font-size:500%; text-align:center; color: white;"><%= @game.player_1.name %> vs. <%= @game.player_2.name %></h1>
<br/>
<h3 style="font-size:200%; text-align:center; color: white">Are you ready?!</h3>

<form action="/player_chose" method="post">
<div style ="text-align: center; font-size: 150%; color: white;">
     <label for="rps"> <b><%= @game.player_1.name %></b>
      <select name="rps_player_1">
       <option value="rock">rock</option>
       <option value="paper">paper</option>
       <option value="scissors">scissors</option>
       <%# <option value="scissors">lizard</option>
       <option value="scissors">spock</option> %>
      </select>
     </label>

     <label for="rps"> <b><%= @game.player_2.name %></b>
      <select name="rps_player_2">
       <option value="rock">rock</option>
       <option value="paper">paper</option>
       <option value="scissors">scissors</option>
       <%# <option value="scissors">lizard</option>
       <option value="scissors">spock</option> %>
      </select>
     </label>
     <br/><br/>
     <input style="width: 25%;" type="submit" value="Check score">
</div>
</form>

</body>
